<configuration>
				<appSettings>

								<add key="GeckoBoardApiKey" value="" />

								<!-- Widget Keys -->

								<add key="GeckoStatText" value="" />
								<add key="GeckoMonitor" value="" />
								<add key="GeckoLeaderboard" value="" />
								<add key="GeckoList" value="" />
								<add key="GeckoListWithLabels" value="" />
								<add key="GeckoText" value="" />
								<add key="GeckoPie" value="" />
								<add key="GeckoMap" value="" />

				</appSettings>
</configuration>